Package: me.gmoran.eclipse12
Name: Eclipse Dark Mode (iOS 12)
Depends: mobilesubstrate, preferenceloader, applist, firmware (>= 12.0), com.creaturesurvive.libcscolorpicker
Version: 6.1.2
Architecture: iphoneos-arm
Description: Customizable Dark Mode iOS 12!
Depiction: http://gmoran.me/eclipse_12_repo.html
Maintainer: Guillermo Morán (fr0st)
Author: Guillermo Morán (fr0st)
Section: Tweaks
