Package: org.thebigboss.eclipse2
Name: Eclipse 2 (Beta)
Depends: mobilesubstrate, preferenceloader, org.thebigboss.libcolorpicker
Version: 2.2.5b
Architecture: iphoneos-arm
Description: System-wide Nightmode + More
Maintainer: Guillermo Morán (fr0st)
Author: Guillermo Morán (fr0st)
Section: Tweaks
