Package: me.gmoran.eclipsex
Name: Eclipse X (iOS 11)
Depends: mobilesubstrate, preferenceloader, applist, com.creaturesurvive.libcscolorpicker, firmware (>= 11.0)
Version: 5.1.4
Architecture: iphoneos-arm
Description: Night Mode (and more!) for all your apps!
Depiction: http://gmoran.me/eclipse_x_repo.html
Maintainer: Guillermo Morán (fr0st)
Author: Guillermo Morán (fr0st)
Section: Tweaks
