<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>System Interface</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>colorShareSheets</string>
			<key>label</key>
			<string>Theme Share Sheets</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>alertsEnabled</string>
			<key>label</key>
			<string>Theme Alerts</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>darkenKeyboard</string>
			<key>label</key>
			<string>Color Keyboard</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>selectedKeyboardColor</string>
			<key>label</key>
			<string>Keyboard Color</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Default</string>
				<string>Midnight</string>
				<string>Night</string>
				<string>Graphite</string>
				<string>Silver</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Automatic (Default)</string>
				<string>Midnight</string>
				<string>Night</string>
				<string>Graphite</string>
				<string>Silver</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>replaceSplashScreens</string>
			<key>label</key>
			<string>Color Loading Screens</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>-2</integer>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>selectedSplashScreenColor</string>
			<key>label</key>
			<string>Loading Screen Color (Coming Soon)</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<string>-2</string>
				<string>-1</string>
				<integer>0</integer>
				<integer>1</integer>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Default</string>
				<string>Midnight</string>
				<string>Night</string>
				<string>Graphite</string>
				<string>Silver</string>
				<string>Crimson</string>
				<string>Rose</string>
				<string>Grape</string>
				<string>Wine</string>
				<string>Violet</string>
				<string>Sky</string>
				<string>Lapis</string>
				<string>Navy</string>
				<string>Dusk</string>
				<string>Jungle</string>
				<string>Bamboo</string>
				<string>Saffron</string>
				<string>Citrus</string>
				<string>Amber</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Automatic (Default)</string>
				<string>Midnight</string>
				<string>Night</string>
				<string>Graphite</string>
				<string>Silver</string>
				<string>Crimson</string>
				<string>Rose</string>
				<string>Grape</string>
				<string>Wine</string>
				<string>Violet</string>
				<string>Sky</string>
				<string>Lapis</string>
				<string>Navy</string>
				<string>Dusk</string>
				<string>Jungle</string>
				<string>Bamboo</string>
				<string>Saffron</string>
				<string>Citrus</string>
				<string>Amber</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>tintSMSBubbles</string>
			<key>label</key>
			<string>Tint SMS Bubbles</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>tintMessageBubbles</string>
			<key>label</key>
			<string>Tint iMessage Bubbles</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Experimental Features</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>darkWebEnabled</string>
			<key>label</key>
			<string>Website Dark Mode (Beta)</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
	</array>
	<key>title</key>
	<string>More Options</string>
</dict>
</plist>
