<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color Selection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>colorDetailText</string>
			<key>label</key>
			<string>Colorize Cell Detail Text</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>selectedNavColor</string>
			<key>label</key>
			<string>NavBar Color</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<string>-1</string>
				<integer>0</integer>
				<integer>1</integer>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Midnight</string>
				<string>Night</string>
				<string>Sapphire</string>
				<string>Crimson</string>
				<string>Raspberry</string>
				<string>Fuchsia</string>
				<string>Amazon</string>
				<string>Limerick</string>
				<string>Cerise (BETA)</string>
				<string>Malachite (BETA)</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Midnight</string>
				<string>Night</string>
				<string>Sapphire</string>
				<string>Crimson</string>
				<string>Raspberry</string>
				<string>Fuchsia</string>
				<string>Amazon</string>
				<string>Limerick</string>
				<string>Cerise (BETA)</string>
				<string>Malachite (BETA)</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>selectedTheme</string>
			<key>label</key>
			<string>Theme</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<string>-1</string>
				<integer>0</integer>
				<integer>1</integer>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Midnight</string>
				<string>Night</string>
				<string>Sapphire</string>
				<string>Crimson</string>
				<string>Raspberry</string>
				<string>Fuchsia</string>
				<string>Amazon</string>
				<string>Limerick</string>
				<string>Cerise (BETA)</string>
				<string>Malachite (BETA)</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Midnight</string>
				<string>Night</string>
				<string>Sapphire</string>
				<string>Crimson</string>
				<string>Raspberry</string>
				<string>Fuchsia</string>
				<string>Amazon</string>
				<string>Limerick</string>
				<string>Cerise (BETA)</string>
				<string>Malachite (BETA)</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>selectedTint</string>
			<key>label</key>
			<string>Tint Color</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<key>shortTitles</key>
			<array>
				<string>Baby Blue</string>
				<string>White</string>
				<string>Orange</string>
				<string>Pink</string>
				<string>Green</string>
				<string>Purple</string>
				<string>Red</string>
				<string>Yellow</string>
				<string>Random</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Baby Blue</string>
				<string>White</string>
				<string>Orange</string>
				<string>Pink</string>
				<string>Green</string>
				<string>Purple</string>
				<string>Red</string>
				<string>Yellow</string>
				<string>Random</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>statusbarTint</string>
			<key>label</key>
			<string>Statusbar Color</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<string>7</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>White</string>
				<string>Baby Blue</string>
				<string>Orange</string>
				<string>Pink</string>
				<string>Green</string>
				<string>Purple</string>
				<string>Red</string>
				<string>Yellow</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>White</string>
				<string>Baby Blue</string>
				<string>Orange</string>
				<string>Pink</string>
				<string>Green</string>
				<string>Purple</string>
				<string>Red</string>
				<string>Yellow</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom HEX Colors (Example: #FF6600)</string>
			<key>footerText</key>
			<string>Leave fields black for default Eclipse colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>customColorsEnabled</string>
			<key>label</key>
			<string>Use Custom Colors</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>NavBar Color</string>
			<key>key</key>
			<string>customNavBarHex</string>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Theme Color</string>
			<key>key</key>
			<string>customThemeHex</string>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Tint Color</string>
			<key>key</key>
			<string>customTintHex</string>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Statusbar Color</string>
			<key>key</key>
			<string>customStatusbarHex</string>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Text Color</string>
			<key>key</key>
			<string>customTextHex</string>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Eclipse by Guillermo Morán (@fr0st) © 2014</string>
		</dict>
	</array>
	<key>title</key>
	<string>Color Settings</string>
</dict>
</plist>
