<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Development</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>fr0st</string>
			<key>label</key>
			<string>@fr0st</string>
			<key>icon</key>
			<string>fr0st.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings Header</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>hbang</string>
			<key>label</key>
			<string>@hbangws</string>
			<key>icon</key>
			<string>hbang.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Threema Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>beatjunky</string>
			<key>label</key>
			<string>@beatjunky99</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Libcolorpicker</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>pixelfiredev</string>
			<key>label</key>
			<string>PixelFireDev</string>
			<key>icon</key>
			<string>pixelfiredev.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>libcolorpicker</string>
			<key>label</key>
			<string>Libcolorpicker</string>
			<key>icon</key>
			<string>pixelfiredev.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Eclipse 3 by Guillermo Morán (@fr0st) © 2015</string>
		</dict>
	</array>
	<key>title</key>
	<string>Credits</string>
</dict>
</plist>
