<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>customNavColorsEnabled</string>
			<key>label</key>
			<string>Custom Nav Color</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFColorCell</string>
			<key>label</key>
			<string>Nav Bar Color</string>
			<key>color_defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>color_key</key>
			<string>customNavBarHex</string>
			<key>title</key>
			<string>Nav Colors</string>
			<key>color_fallback</key>
			<string>#0A0A0A</string>
			<key>usesRGB</key>
			<false/>
			<key>usesAlpha</key>
			<false/>
			<key>color_postNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>customThemeColorsEnabled</string>
			<key>label</key>
			<string>Custom Theme Color</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFColorCell</string>
			<key>label</key>
			<string>Theme Color</string>
			<key>color_defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>color_key</key>
			<string>customThemeHex</string>
			<key>title</key>
			<string>Theme Color</string>
			<key>color_fallback</key>
			<string>#1E1E1E</string>
			<key>usesRGB</key>
			<false/>
			<key>usesAlpha</key>
			<false/>
			<key>color_postNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>customTintColorsEnabled</string>
			<key>label</key>
			<string>Custom Tint Color</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFColorCell</string>
			<key>label</key>
			<string>Tint Color</string>
			<key>color_defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>color_key</key>
			<string>customTintHex</string>
			<key>title</key>
			<string>Tint Color</string>
			<key>color_fallback</key>
			<string>#00A3EB</string>
			<key>usesRGB</key>
			<false/>
			<key>usesAlpha</key>
			<false/>
			<key>color_postNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>customStatusbarColorsEnabled</string>
			<key>label</key>
			<string>Custom Statusbar Color</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFColorCell</string>
			<key>label</key>
			<string>Statusbar Color</string>
			<key>color_defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>color_key</key>
			<string>customStatusbarHex</string>
			<key>title</key>
			<string>Statusbar Color</string>
			<key>color_fallback</key>
			<string>#E6E6E6</string>
			<key>usesRGB</key>
			<false/>
			<key>usesAlpha</key>
			<false/>
			<key>color_postNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>customTextColorsEnabled</string>
			<key>label</key>
			<string>Custom Text Color</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFColorCell</string>
			<key>label</key>
			<string>Text Color</string>
			<key>color_defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>color_key</key>
			<string>customTextHex</string>
			<key>title</key>
			<string>Text Color</string>
			<key>color_fallback</key>
			<string>#E6E6E6</string>
			<key>usesRGB</key>
			<false/>
			<key>usesAlpha</key>
			<false/>
			<key>color_postNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
	</array>
	<key>title</key>
	<string>HEX Colors</string>
</dict>
</plist>
