<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Disable in SpringBoard to fix colored Control Center or colored Docks.</string>
			<key>label</key>
			<string>Toggles</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>disableInSB</string>
			<key>label</key>
			<string>Disable in SpringBoard</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>alignment</key>
			<string>1</string>
			<key>action</key>
			<string>quitApps</string>
			<key>label</key>
			<string>Quit All Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>darkenKeyboard</string>
			<key>label</key>
			<string>Color Keyboard</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>replaceSplashScreens</string>
			<key>label</key>
			<string>Color Loading Screens</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>translucentNavbars</string>
			<key>label</key>
			<string>Translucent Navigation Bars</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>darkenWallpapers</string>
			<key>label</key>
			<string>Dim Wallpapers</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.wallpaper-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>default</key>
			<true/>
			<key>detail</key>
			<string>ESColorSettings</string>
			<key>label</key>
			<string>Color Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>White-List Apps</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>AppList</string>
			<key>ALNavigationTitle</key>
			<string>&quot;White&quot; List</string>
			<key>ALChangeNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
			<key>ALAllowsSelection</key>
			<false/>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.gmoran.eclipse.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>BlackListed-</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>default</key>
			<true/>
			<key>detail</key>
			<string>ESCreditsPanel</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact</string>
			<key>footerText</key>
			<string>Eclipse by Guillermo Morán (@fr0st) © 2014</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>label</key>
			<string>Follow @fr0st</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>mail</string>
			<key>label</key>
			<string>Email @fr0st</string>
			<key>icon</key>
			<string>mail.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>Eclipse</string>
</dict>
</plist>
