<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2020 Moonista, LLC</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>ESHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Select which apps should use Eclipse</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable Eclipse</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Applications</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>AppList</string>
			<key>ALNavigationTitle</key>
			<string>Enabled Applications</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALChangeNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
			<key>ALAllowsSelection</key>
			<false/>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.gmoran.eclipse.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>EnabledApps-</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Force Applications to use dark mode. Use this only if an application does not respond to dark mode when it is enabled under &quot;Enabled Applications&quot; and Eclipse is turned on.</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Applications</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>AppList</string>
			<key>ALNavigationTitle</key>
			<string>Force Dark Mode Override</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALChangeNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
			<key>ALAllowsSelection</key>
			<false/>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.gmoran.eclipse.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>ForcedApps-</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>reverseModeEnabled</string>
			<key>label</key>
			<string>Darker Table Cells</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.gmoran.eclipse</string>
			<key>key</key>
			<string>cellSeparatorsEnabled</string>
			<key>label</key>
			<string>Show Cell Separators</string>
			<key>PostNotification</key>
			<string>com.gmoran.eclipse.prefs-changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>You must reload SpringBoard for changes to take effect</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>alignment</key>
			<string>1</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>Reload SpringBoard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>default</key>
			<true/>
			<key>detail</key>
			<string>ESColorSettings</string>
			<key>label</key>
			<string>Color Options</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>default</key>
			<true/>
			<key>detail</key>
			<string>ESAdvancedSettings</string>
			<key>label</key>
			<string>More Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>isController</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>default</key>
			<true/>
			<key>detail</key>
			<string>ESCreditsPanel</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>label</key>
			<string>Follow @fr0st</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>Eclipse Dark Mode</string>
</dict>
</plist>
