Package: com.gmoran.eclipseactivator
Name: EclipseActivator
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Guillermo Morán
Author: Guillermo Morán
Section: Tweaks
