Package: com.gmoran.eclipseactivator
Name: EclipseActivator
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Guillermo Morán
Author: Guillermo Morán
Section: Tweaks
Version: 0.0.1-1
Installed-Size: 72
